/*background*/
html {
  background: url('https://cdn.pixabay.com/photo/2016/04/02/20/54/valley-of-fire-1303617_960_720.jpg') no-repeat center fixed;
  background-size:cover;
}
/*Font Area*/
header h1 {
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  color: black;
  margin-bottom: 1px;
}
header {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    background: opaque;
    box-shadow: 0 0 10px black;
    display: inline-block;
}
h3, h4 {
  font-size: 16px;
}
.btn-info, .login-account, .create-account, .register-account {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn-info, .login-account , .create-account, .register-account :hover {
  opacity: 0.8;
}
/*Input area*/
.wrapper {
  background: opaque;
  border: 3px solid black;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;

}
input[type="date"], input[type="text"], input[type="password"] {
  background: white;
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: black;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}
input[type="date"]:focus, input[type="text"], input[type="password"] :focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}
/*Login area*/
.loginscreen {
  background: opaque;
  border: 3px solid black;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
}
/*Register account area*/
.register {
  background: #opaque;
  border: 3px solid black;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;

}
/*Footer*/
.footer {
  background-color: opaque;
  height: 55px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 0 10px black;
  text-align: center;
}
