/*Background animation area*/
animatedBackground {
  from {background-position: 0 0; }
  to {background-position: 100% 0; }
}
#animate-area {
width: 560px;
height: 400px;
background-image: url(https://pixabay.com/en/videos/rain-field-wind-blow-storm-6847/);
background-position: 0px 0px fixed;
background-repeat: repeat-x;

animation: animatedBackground 30s linear infinite;
}
/*Font Area*/
p {
font-family: 'Rock Salt', cursive;
position: center, fixed;
font-size: 30px;
color: black;
}
form {
  position: center, fixed;
}
